# Telegram Bot
BOT_TOKEN=your_bot_token_here
ALLOWED_USERS=*

# Web App
WEBAPP_URL=http://localhost:8000
MAX_UPLOAD_SIZE=20971520  # 20MB в байтах
MAX_PROCESSED_FILE_SIZE=409600  # 400KB в байтах

# Security
TOKEN_SECRET_KEY=your_secret_key_here