# Python
__pycache__/
*.py[cod]
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Виртуальное окружение
venv/
env/
ENV/
.env
.venv
env.bak/
venv.bak/

# Файлы логов
*.log

# Временные файлы
temp/
*.tmp
*.temp
*.swp
*.swo
*~

# Файлы изображений
*.jpg
*.jpeg
*.png
*.gif

# IDE
.idea/
.vscode/
*.code-workspace
.history/

# OS
.DS_Store
Thumbs.db
